[Desktop Entry]
Name=XMixer
Comment=Sound Card Mixer
Comment[pl]=Mikser karty dźwiękowej
Comment[sv]=Ljudkortsmixerpanel
Exec=xmixer
Terminal=0
Type=Application
# vi: encoding=utf-8
