[Desktop Entry]
Name=XMixer
Comment=Sound Card Mixer
Comment[pl]=Mikser karty dźwiękowej
Comment[sv]=Ljudkortsmixerpanel
Icon=xmixer.png
Exec=xmixer
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
