[Desktop Entry]
Name=XPlayCD
Comment=CD Player
Comment[pl]=Odtwarzacz CD
Comment[sv]=CD-spelare
Exec=xplaycd
Terminal=0
Type=Application
# vi: encoding=utf-8
