[Desktop Entry]
Encoding=UTF-8
Name=XPlayCD
Comment=CD Player
Comment[pl]=Odtwarzacz CD
Comment[sv]=CD-spelare
Icon=xplaycd.png
Exec=xplaycd
Terminal=false
Type=Application
Categories=AudioVideo;
# vi: encoding=utf-8
