[Desktop Entry]
Name=XPlayCD
Comment=CD Player
Comment[pl]=Odtwarzacz CD
Comment[sv]=CD-spelare
Icon=xplaycd.png
Exec=xplaycd
Terminal=false
Type=Application
# vi: encoding=utf-8
